<mat-horizontal-stepper linear #stepper>
  <mat-step>
    <ng-template matStepLabel>Fill out your name</ng-template>
    <app-first-step-lab1></app-first-step-lab1>
    <div>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Fill out your address</ng-template>
    <app-second-step-lab1></app-second-step-lab1>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    You are now done.
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>